.page-content {
    margin: 10px;
}

body {
    background-color: #ebf2fa;
}

#apply-button {
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: 10px;
}

.job-posting {
    padding: 10px 15px;
}

.job-posting-card {
    height: 220px;
}